@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes border-rotate {
  0% {
    background-position: 0% 0%, 100% 0%, 100% 100%, 0% 100%;
  }

  25% {
    background-position: 100% 0%, 100% 100%, 0% 100%, 0% 0%;
  }

  50% {
    background-position: 100% 100%, 0% 100%, 0% 0%, 100% 0%;
  }

  75% {
    background-position: 0% 100%, 0% 0%, 100% 0%, 100% 100%;
  }

  100% {
    background-position: 0% 0%, 100% 0%, 100% 100%, 0% 100%;
  }
}



.border-rotate {
  width: 60vmin;
  height: 50vmin;
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;

  /* Custom property for animation */
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);

  background:
    var(--main-bg) padding-box, /* Clipped background */
    var(--gradient-border) border-box, /* Extends to the border */
    var(--main-bg) border-box; /* Duplicate background behind gradient border */
  
  background-position: center center;

  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.border-rotate:hover {
  animation-play-state: paused;
}


@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}


